@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    outline: none;
    border: none;
}

body {
    background: #333 url("../images/background.png");
    overflow-x: hidden;
}

#container {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #212121;
    max-width: 330px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.login h2 {
    color: #f2f2f2;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.login input,
.login button {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
}

.login__input {
    background-color: #121212;
    color: #f2f2f2;
    margin-bottom: 10px;
}

.login__input:focus {
    border: 2px solid #f2f2f2;
}

.login__button {
    background-color: #f2f2f2;
    color: #212121;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.login__button:hover {
    opacity: 1;
}

.login .error-message {
    font-size: 10px;
    color: #ff5d5d;
}

.chat {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: none;
}

.chat__header {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.users-connected {
    font-size: 14px;
    font-weight: bold;
}

.online__icon {
    background-color: lime;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
}

.number-users-connected {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.chat__messages {
    box-sizing: border-box;
    width: 100%;
    padding: 140px 10px 70px 10px;
    flex-grow: 1;
    transition: 1s;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.message__container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.message__container:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.message__self,
.message__other {
    box-sizing: border-box;
    max-width: 220px;
    padding: 10px;
    font-size: 0.8rem;
    line-height: 20px;
    overflow-wrap: break-word;
    cursor: pointer;
    user-select: none;
}

.message__self {
    width: auto;
    min-width: 75px;
    background-color: #f2f2f2;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
}

.message__other {
    background-color: #333;
    border-radius: 0px 10px 10px 10px;
    color: #f2f2f2;
}

.message__other .sender {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: gold;
}

.message__server {
    height: 30px;
    width: 300px;
    color: #f2f2f2;
    background-color: #7c6f37;
    border-radius: 10px;
    font-size: 0.7rem;
    margin: 20px;

    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.message__response {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 11px;
    opacity: 0.8;
}

.response__container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: #f2f2f2;
    font-size: 12px;
    user-select: none;
}

.chat__form {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #212121;
    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input__container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.remove-response {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    color: #f2f2f2;
    font-size: 10px;
    cursor: pointer;
}

.chat__input {
    padding: 10px;
    background-color: #121212;
    color: #f2f2f2;
    border-radius: 5px;
    font-size: 0.8rem;
    flex-grow: 1;
}

.chat__button {
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}
